<section class="container-fluid">
    <app-header-apps-label appName="Empresas" class="row"></app-header-apps-label>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <span for="filtro_razon_social">Razón social</span>
            <input type="text" name="email" class="form-control" [(ngModel)]="filter.razon_social" placeholder="Razón social">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            Status
            <ng-select [(ngModel)]="filter.is_active" style="width: 100%;" [markFirst]="true">
                <ng-option [value]="null">Todos</ng-option>
                <ng-option [value]="true">Activos</ng-option>
                <ng-option [value]="false">Inactivos</ng-option>
            </ng-select>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <span for="filtro_razon_social">RFC</span>
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="filter.rfc" placeholder="XAXX010101000" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="button" (click)="load()">
                    <i class="fas fa-search fa-sm fa-fw"></i>
                    Buscar
                </button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" role="group">
                <button type="button" class="btn-sm btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Empresas
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupABC" style="text-align: left;">
                    <button class="dropdown-item btn btn-danger" (click)="openCreate()" *ngIf="session.service?.multi_rfc">
                        <i class="fas fa-plus fa-lg fa-fw text-success"></i>
                        Agregar
                    </button>

                    <button class="dropdown-item btn btn-danger" (click)="openEdit()">
                        <i class="fas fa-pencil-alt fa-lg fa-fw text-warning"></i>
                        Editar
                    </button>

                    <button class="dropdown-item btn btn-info" (click)="openSettingsCSD()">
                        <i class="fas fa-cogs fa-lg fa-fw text-primary"></i>
                        Configurar CSD
                    </button>
                    
                    <button class="dropdown-item btn btn-danger" (click)="openView()">
                        <i class="fas fa-clipboard fa-lg fa-fw text-primary"></i>
                        Visualizar
                    </button>

                    <button class="dropdown-item btn btn-danger" (click)="openDelete()">
                        <i class="fas fa-trash-alt fa-lg fa-fw text-danger"></i>
                        Eliminar
                    </button>
                </div>
            </div>
            &nbsp;
            <button class="btn btn-secondary btn-sm">
                <i class="fa fa-check" aria-hidden="true"></i>
                69B
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <jqxGrid #jqxGridCompanys
                (onRowselect)="seleccionarRegistro($event)"
                [width]="'100%'" 
                [source]="dataAdapter" 
                [columns]="columns"
                [selectionmode]="'multiplerowsadvanced'">
            </jqxGrid>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <small class="text-primary">
                Seleccionados: {{ seleccionados }}
            </small>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>

    <ng-template #modalCompany let-modal>
        <div class="modal-content">
            <div class="modal-header" color="primary">
                <h5 class="modal-title">Crear / Editar empresa</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="modal.close('Cerrado desde la ventana')">
                    <span aria-hidden="true">&times;</span>
                </button> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.close()"></button>
            </div>
            <form [formGroup]="form" novalidate (ngSubmit)="save($event)" class="py-2">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-lg-6">
                                <div class="main-img-preview text-center">
                                    <img [src]="cardImageBase64" class="thumbnail img-preview" style="height:auto;max-height:70px;"/>
                                </div>
                                <div class="input-group">
                                    <input class="form-control form-control-sm form-control-bold fake-shadow" formControlName="name_logo" [readOnly]="true" placeholder="Elija el Archivo">
                                    <div class="input-group-append">

                                        <input id="fileLogo" type="file" class="attachment_upload" (change)="loadImage($event)" style="display: none;">
                                        
                                        <button type="button" class="btn btn-primary" (click)="openFileSelector($event)">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                            Adjuntar
                                        </button>

                                        <!-- <div class="fileUpload btn btn-primary btn-sm fake-shadow">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                            Adjuntar
                                        </div> -->
                                    </div>
                                </div>
                                <small class="text-danger">
                                    {{ imageError }}
                                </small>
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-6">
                                <span for="razon_social"><strong class="text-danger">*</strong> Razon social</span>
                                <input type="text" class="form-control form-control-sm" name="razon_social" formControlName="razon_social" placeholder="Razón social">
                                <div *ngIf="getFormControl('razon_social', form)?.errors && getFormControl('razon_social', form)?.touched">
                                    <small *ngIf="getFormControl('razon_social', form)?.hasError('required')" class="text-danger">
                                        La <strong>razon social</strong> es requerida.
                                    </small>
                                    <small *ngIf="getFormControl('razon_social', form)?.getError('razonSocialAvailable') != null" class="text-danger">
                                        La razon social <strong>{{ form.get('razon_social')?.value }}</strong> ya se encuentra en uso.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <span for="rfc"><strong class="text-danger">*</strong> Rfc</span>
                                <input type="text" class="form-control form-control-sm" formControlName="rfc" minlength="12" maxlength="13" placeholder="XAXX010101000">
                                <div *ngIf="getFormControl('rfc', form)?.errors && getFormControl('rfc', form)?.touched">
                                    <small *ngIf="getFormControl('rfc', form)?.hasError('minLength')" class="text-danger">
                                        El <strong>RFC</strong> de persona moral de 12 caracteres.
                                    </small>
                                    <small *ngIf="getFormControl('rfc', form)?.hasError('maxLength')" class="text-danger">
                                        El <strong>RFC</strong> de persona fisica es de 13 caracteres.
                                    </small>
                                    <small *ngIf="getFormControl('rfc', form)?.getError('rfcAvailable') != null" class="text-danger">
                                        El Rfc <strong>{{ form.get('rfc')?.value }}</strong> ya se encuentra en uso.
                                    </small>
                                    <small *ngIf="getFormControl('rfc', form)?.getError('rfcInvalid') != null" class="text-danger">
                                        El Rfc <strong>{{ form.get('rfc')?.value }}</strong> no tiene la estructura valida.
                                    </small>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <span for="rfc">Régimen</span>
                                <ng-select
                                    class="custom"
                                    [items]="list_regimenes"
                                    bindLabel="descripcion"
                                    bindValue="id"
                                    placeholder="Seleccione una opción"
                                    formControlName="regimen_id">
                                </ng-select>
                            </div>

                            <div class="col-md-3">
                                <span>Serie</span>
                                <input type="text" class="form-control form-control-sm" formControlName="serie" placeholder="FACT">
                            </div>
                        </div>
                        <br>
                        <strong class="text-primary">Dirección</strong>
                        <hr style="margin-top:0;">
                        <div class="row">
                            <div class="col-md-5 col-sm-12 col-lg-5">
                                <span for="cp"><strong class="text-danger">*</strong> Código postal</span>
                                <input 
                                id="typeadead-template"
                                type="text"
                                class="form-control form-control-sm"
                                formControlName="cp"
                                [ngbTypeahead]="buscarCp"
                                [resultFormatter]="resultFormatter"
                                [inputFormatter]="inputFormatter"
                                [resultTemplate]="rcp"
                                (selectItem)="selectedCP($event.item)"
                                #instance="ngbTypeahead"
                                placeholder="Buscar CP"
                                typeaheadOptionField="cp"/>
                                <ng-template #rcp let-r="result" let-t="term">
                                    <div class="media p-1">
                                        <div class="media-body">
                                            <span>
                                                <strong class="text-primary">{{r.cp}}</strong>
                                                {{r.asenta}}
                                            </span>
                                        </div>
                                    </div>
                                </ng-template>
                                <div *ngIf="searching">
                                    <small class="form-text text-muted">Buscando...</small>
                                </div>
                                <div *ngIf="searchFailed">
                                    <div class="invalid-feedback">Lo sentimos, no se han encontrado resultados.</div>
                                </div>
                                <!--
                                    @if (searching) {
                                        <small class="form-text text-muted">Buscando...</small>
                                    }
                                @if (searchFailed) {
                                    <div class="invalid-feedback">Lo sentimos, no se han encontrado resultados.</div>
                                }-->
                                <div *ngIf="getFormControl('cp', form)?.errors && getFormControl('cp', form)?.touched">
                                    <small *ngIf="getFormControl('cp', form)?.hasError('minLength')" class="text-danger">
                                        El <strong>CP</strong> debe de ser de 5 digitos.
                                    </small>
                                    <small *ngIf="getFormControl('cp', form)?.hasError('maxLength')" class="text-danger">
                                        El <strong>CP</strong> debe de ser de 5 digitos.
                                    </small>
                                    <small *ngIf="getFormControl('cp', form)?.hasError('pattern')" class="text-danger">
                                        El <strong>CP</strong> debe de ser ti por numerico.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12 col-lg-7">
                                <span for="calle">Calle</span>
                                <input type="text" class="form-control form-control-sm" formControlName="calle" placeholder="Calle">
                            </div>
                            <div class="col-md-4 col-sm-12 col-lg-3">
                                <span for="num_ext">Num Ext</span>
                                <input type="text" class="form-control form-control-sm" formControlName="num_ext" placeholder="Número exterior">
                            </div>
                            <div class="col-md-4 col-sm-12 col-lg-3">
                                <span for="num_int">Num Int</span>
                                <input type="text" class="form-control form-control-sm" formControlName="num_int" placeholder="Número interior">
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-6">
                                <span for="colonia">Colonia</span>
                                <input type="text" class="form-control form-control-sm" formControlName="colonia" placeholder="Colonia">
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-6">
                                <span for="colonia">Referencia</span>
                                <input type="text" class="form-control form-control-sm" formControlName="referencia" placeholder="Referencia">
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-6">
                                <span for="municipio">Municipio</span>
                                <ng-select
                                    [items]="list_municipios"
                                    bindLabel="descripcion"
                                    bindValue="id"
                                    placeholder="Seleccione una opción"
                                    formControlName="municipio_id">
                                </ng-select>
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-6">
                                <span for="estado">Estado</span>
                                <ng-select
                                    [items]="list_estados"
                                    bindLabel="descripcion"
                                    bindValue="id"
                                    placeholder="Seleccione una opción"
                                    (change)="loadMunicipios($event)"
                                    formControlName="estado_id">
                                </ng-select>
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-6">
                                <span for="estado">País</span>
                                <ng-select 
                                    [items]="list_paises" 
                                    bindLabel="descripcion" 
                                    bindValue="id" 
                                    placeholder="Seleccione una opción"
                                    (change)="loadEstados($event)"
                                    formControlName="pais_id">
                                </ng-select>
                            </div>
                        </div>
                        <br>
                        <strong class="text-primary">Otros datos</strong>
                        <hr style="margin-top: 0;">
                        <div class="row">
                            <div class="col-md-6">
                                <span>Telefono</span>
                                <input type="text" name="telefono" id="telefono" class="form-control form-control-sm" formControlName="telefono" placeholder="249 210 8684">
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-check my-4">
                                    <input type="checkbox" formControlName="is_active" id="is_active" class="form-check-input"/>
                                    <label for="acceptTerms" class="form-check-label">
                                        {{ getFormControl('is_active', form)?.value ? 'Activo' : 'Inactivo' }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="modal.close('No')">
                        <i class="fas fa-times fa-lg fa-fw"></i>
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" color="accent" aria-label="">
                        <i class="fas fa-save fa-lg fa-fw"></i>
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template #modelCSDSettings let-modal>
        <div class="modal-content">
            <div class="modal-header" color="primary">
                <h5 class="modal-title">Configurar CSD</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.close()"></button>
            </div>
            <form [formGroup]="formCsd" novalidate (ngSubmit)="settingsCsd($event)" class="py-2">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <ngx-dropzone (change)="onSelect($event)" accept=".key,.cer">
                                    <ngx-dropzone-label>Selecciona o arrastra acá el archivo .key y .cer.</ngx-dropzone-label>
                                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                        <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                                    </ngx-dropzone-preview>
                                </ngx-dropzone>
                            </div>
                            <div class="col-md-12 col-sm-4 col-lg-4">
                                <span>Contraseña del CSD</span>
                                <input type="password" formControlName="password" class="form-control">
                                <div *ngIf="getFormControl('password', formCsd)?.errors && getFormControl('password', formCsd)?.touched">
                                    <small *ngIf="getFormControl('password', formCsd)?.hasError('required')" class="text-danger">
                                        La <strong>contraseña</strong> es requerida.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="modal.close('No')">
                        <i class="fas fa-times fa-lg fa-fw"></i>
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" color="accent" aria-label="" (click)="settingsCsd($event)">
                        <i class="fas fa-save fa-lg fa-fw"></i>
                        Configurar
                    </button>
                </div>
            </form>
        </div>
    </ng-template>
</section>


<router-outlet></router-outlet>